arrowParens: 'avoid'
printWidth: 100
semi: false
singleQuote: true
tabWidth: 2
trailingComma: 'none'
useTabs: false

plugins:
  - 'prettier-plugin-jinja-template'

overrides:
  - files: '*.html'
    options:
      parser: 'jinja-template'